img:first-child{
	height: 300px;
	width: 100%;
}

#imgbr{
	height: 25px;
	width: 25px;
}

table{
	border: 1px black solid;
	border-width: 3px;
}

#imgbr2{
	height: 100px;
	width: 100px;
}

div table thead th{
	font-size: 20px;
}

#divcent{
	text-align: center;
}